.boxback
{
    background-color: #ffffff;

    color: black!important;
}
button {
    border-radius: 0 !important;
}
.form-control
{
text-transform: none!important;
    border-radius: 0!important;
}
.navhead{
    font-family: 'Times New Roman', sans-serif;
}
.heads{
    font-family: 'Times New Roman', cursive;
}
.caption-content {

    padding-top: 10%;
    vertical-align: top !important;

}
@media (max-width: 900px) {
    .navbar-brand.boxback
    {
        padding: 2%!important;
    }


}
@media (max-width: 1200px) {
    .caption-content {

        padding-top: 10%;
        vertical-align: top !important;

    }
}
@media (max-width: 900px) {
    .caption-content {

        zoom: 60%;
        vertical-align: middle !important;


    }
}