.boxback
{
    background-color: #ffffff;

    color: black!important;
}
button {
    border-radius: 0 !important;
}
.form-control
{
text-transform: none!important;
    border-radius: 0!important;
}
.navhead{
    font-family: 'Inconsolata', sans-serif;
}
.heads{
    font-family: 'Kaushan Script', cursive;
}
